body {
    font-size: 14px;
    background-color: white;
}

h1 { 
    text-align: center;
    color: cadetblue;
    border-bottom: 2px dotted cadetblue;
    padding-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange;
}

a:active {
    color: fuchsia;
}

li {
    display: inline-block;
    padding: 6px 20px;
    margin-left: 0.25em;
    background-color: cadetblue;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: 0;
}
.mainimg {
    text-align: center;
    margin-bottom: 1em;
}
footer {
    border-top: 2px dotted cadetblue;
}

@media screen and (max-width:768px) {
    footer p {
        text-align: center;
    }
}
@media screen and (max-width:480px) {
    
}


