#container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #CBF3F0;
}
#gamescore {
    color: #FF6B6B;
    font-size: 20px;
    margin: 4px 0;
}
#game {
    width: 800px;
    margin: 0 auto;
}
h1 {
    color: #2EC4B6;
}
input[type=text] {
    width: 400px;
    padding: 6px;
    font-size: 14px;
}
#reset {
    text-decoration: none;
    color: darkblue;
    font-size: 14px;
}
.card {
    width: 200px;
    height: 200px;
    display: inline-block;
    background: #F9AAA5;
    margin: 10px;
    box-sizing: border-box;
    border: 2px dotted #e20071;
     -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    /*transform: rotateY( 180deg );*/
}

.card img{
    width: 100%;
    height: 100%;
     transform: rotateY( 180deg );
    
}
