body { 
}
#home {
    width: 90%;
    margin: 2em auto;
    border: 1px solid #CCC;
    padding: 2em;
}
input {
    padding: 3px;
}
input:focus {
    color: #f44;
}

a {
  
}

a:hover {
  
}
a:active {
    
}
/*
a:visited {
    color: forestgreen;
}
*/
h1 {
    
}
ul {
   }
ul a {
    
}
li {
   
}
