body {
    font-family: 'Marcellus SC', serif;
}
#home {
    background: #6F4E37;
    color: #666;
}
h1 {
    text-align: center;
    border-bottom: 1px dotted #DDD;
    padding-bottom: 0.5em;
}

.backhome {
    font-size: 14px;
    padding-bottom: 1.5em;
}
.backhome a {
    text-decoration: none;
    color: darkgray;
    border-bottom: 2px dotted #CCC;
}

.form {
    background: #FFFFFF;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #CCC;
    padding: 1.5em;
    border-radius: 6px;
    box-shadow:0 0 40px -10px #000;
}
input {
    padding: 4px;
}
input:focus {
    box-shadow: 0 0 1px #CCC;
    border: 1px solid #CCC;
}
#imgchoice input {
    top: -8em;
}

#imgchoice input img {
    display: inline-block;
    pointer-events: none;
}
button {
    padding: 10px 30px;
    margin: 2em 0;
    font-size: 14px;
    font-weight: bold;
    color: #47260F;
    background: #BFA888;
    font-family: 'Marcellus SC', serif;
}
#message1, #message2, #message3, #message4, #message5, #message6 {
    color:brown;
    font-weight: bold;
}

#totalAns {
    color: brown;
    font-size: 24px;
    padding: 1em 0;
    letter-spacing: 0.05em;
}


@media screen and (max-width:768px) {
    #home {
        
    }
    .form {
        padding: 1em;
    }
    #message {
        padding: 1em;
    }
}
@media screen and (max-width:480px) {
    
}
